<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FabLab</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ESFE.FabLab.UI.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Style", required: false)
</head>
<body>
    <div class="bg-modal"></div>
    <header id="header-1">
        <!-- Un sitio web de ESFE/AGAPE para promover la innovación educativa -->
    </header>
    <nav class="navbar">
        <img src="./img/logo/esfe-logo.png" alt="logo-esfe">
        <ul>
            <a href="#">Inicio</a>
            <a href="#">Articulos</a>
            <a href="#">Proyectos</a>
            <a href="#">Aprender</a>
        </ul>

        <!-- icono menu hamburgesa -->
        <label class="hamburger">
            <div id="bar4" class="bars"></div>
            <div id="bar5" class="bars"></div>
            <div id="bar6" class="bars"></div>
        </label>
    </nav>
        @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
