@{
    ViewData["Title"] = "Inicio";
}

@section Style{
    <link rel="stylesheet" href="./css/home.css" asp-append-version="true" />
}
<header class="main-header">
    <div class="header-content">
        <img src="./img/logo/fablab-logo.svg" alt="logo-fablab">
        <h1>FABLAB</h1>
        <span>ESCUELA SUPERIOR FRANCISCANA <br> ESPECIALIZADA / AGAPE</span>
    </div>

    <p>
        Descubre un laboratorio de <b>Innovación</b> e <b>investigación</b> que impulsa la
        creatividad y el aprendizaje
    </p>

</header>